<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialog with {{npc.name}}</title>
</head>
<body>
<h1>{{npc.name}}:
</h1>
{{dialog.text|safe}}
<ul>
    {% for item in dialog.options %}
        {% if item.action == "dialog" %}
            <li><a href="{{item.url}}">{{item.text|safe}}</a></li>
        {% elif item.action == "url" %}
            <li><a href="{{item.payload}}" target="_blank">{{item.text|safe}}</a></li>
        {% else %}
            <li>{{item.text|safe}}</li>
        {% endif %}
    {% endfor %}
</ul>
</body>
</html>